/* To Do App */
body{
    text-align: center;
}

.btn{
    background-color: crimson;
    font-weight: bold;
    color: #ffff;
}

.editbtn{
    background-color: olive;
    font-weight: bold;
    color: #ffff;
}

h1{
    background-color: orchid;
}